apiVersion: apps/v1
kind: Deployment
metadata:
  name: tictactoe
spec:
  replicas: 2
  selector:
    matchLabels:
      app: tictactoe
  template:
    metadata:
      labels:
        app: tictactoe
    spec:
      containers:
      - name: tictactoe
        image: nirbhaisingh/tictactoe-cpu
        ports:
        - containerPort: 80
